# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.html.erb':
      'Generate partial from selection': 'rails-partials:generate'
  '.haml':
      'Generate partial from selection': 'rails-partials:generate'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'rails-partials'
      'submenu': [
        { 'label': 'Generate Partial', 'command': 'rails-partials:generate' }
      ]
    ]
  }
]
